/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

@import 'nativescript-theme-core/css/core.light.css';
@import './item/login.component.css';
.heading {
    margin: 10;
    padding: 10;
}

.content {
    border-width: 1;
    margin-bottom: 5;
    padding: 5;
}

.h1 {
    color: red;
}