<ActionBar title="DarkData" class="action-bar">
    <ActionItem (tap)="logout()" ios.systemIcon="1" android.systemIcon="ic_menu_close_clear_cancel"></ActionItem>
</ActionBar>
<StackLayout class="page">
    <ListView [items]="newsClusters" class="list-group">
        <ng-template let-item="item">
            <StackLayout class="heading">
                <Label class="h1" [text]="item.security"></Label>
                <Label class="h2" [text]="item.date"></Label>
                <!-- <Label [text]="item.charts"></Label> -->
                <StackLayout class="page content" *ngFor="let news of item.news">
                    <Label class="h3" [text]="'Time : ' + news.time"></Label>
                    <Label class="h3" [text]="'Headline : ' + news.headline"></Label>
                    <Label class="h3" [text]="'Reaction : ' + news.reaction"></Label>
                    <Label class="h3" [text]="'Echo : ' + news.echo"></Label>
                    <Label class="h3" [text]="'Related : ' + news.related"></Label>
                </StackLayout>

            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>

<!-- 
this is our insight page view
here you will see that tags are pritty look like anonymous from html
that's why we can't use that code...:)
i think you got the point...
y
why... because nativescript provide their own directives to work with so
ok, but the TS can stay the same? Backend calls, logic, ;..?
no here we use nativescript's own api for making calls to server i tried with what you 
suggest me to do ngx-restangular but that wont work here...
now you will say why...? aren't' we  working with angular'
yes my friend we are working with angular + mobile device
so what nativescript do is it provide us some libraries to connect with server and other things
why predifined libs...?
because when compiling the the code for platform basis {NativeScript} looks for the
api if it found it successfull compile otherwise welcome us with ERRORS :)
I hope you got the point...
ok
soIf I want to have as much reusable cde as possible, I will need to wrap it
to hide the difference between the two or three platforms
yes..
fair
but they are pritty simple things you will get them asap
so now comes the logic part okay..?
k

<Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
 -->