<ActionBar title="Details" class="action-bar"></ActionBar>
<FlexboxLayout flexDirection="row" class="page">
    <FlexboxLayout class="m-15">
    	<Image src="~/images/nobita.jpeg"></Image>
        <Label class="h2" [text]="item.id + '. '"></Label>
        <Label class="h2" [text]="item.name"></Label>
    </FlexboxLayout>
    <Label class="h4" [text]="item.role"></Label>
</FlexboxLayout>
