StackLayout {
    background-color: #00968F;
    margin-left: 30;
    margin-right: 30;
    text-align: center;
}

Button,
TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    color: white;
}

.submit-button {
    color: white;
    font-size: 17;
    background-color: rgba(0, 96, 122, 0.9);
}

.loginPage {
    background-color: #00968F;
    color: white;
}

ActionBar {
    background-color: #00968F;
}

TextField {
    padding: 10;
    font-size: 16;
    border-radius: 10;
    background-color: rgba(122, 122, 122, 0.4);
}