<StackLayout verticalAlignment="center">
    <TextField hint="Email-Address" placeholder-color="white" keyboardType="email" [(ngModel)]="user" autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField hint="Password" placeholderColor="white" secure="true" [(ngModel)]="password"></TextField>
    <Button text="Sign In" class="submit-button btn-active" (tap)="onTap()"></Button>
</StackLayout>